
/* nva bar */
#navbar{
    flex-direction: column;
}
 /* navbar logo */
 #navbar .logo{
    margin: 0px 10px;
    padding: 10px 20px;
}
#navbar .logo h3{
   color: white;
   font-size: 20px;
}

/* navbar ul */

#navbar ul li{
   font-size: 14px;
}

#navbar ul li a{
    padding: 12px 5px;
    font-size: 14px;
}

/* home-section */
#home{
    height: 500px;
}
/* home box */
#home .box1{
   padding: 12px 0px;
   width: 75%;
}

#home .box1 h3{
    margin-top: 0px;
   font-size: 20px;
   padding: 10px 10px;
}

#home .box1 .book-me{
   font-size: 14px;
   width: 45%;
   padding: 0px;
   margin-top: 0px;
}

/* work-section */
#work{
   margin: 30px 0px;
   height: 800px;
   flex-direction: column;
}
#work .boxa{
   width: 70%;
   height:auto;
   margin: 10px auto;
}

#work .boxa h3{
   font-size: 30px;
}

#work .boxa p{
   font-size:16px;
   padding: 12px 5px;
}

#work .boxa .work-btn{
   font-size: 15px;
}
#work .boxa .work-btn {
    padding: 10px 10px;
    margin: 8px 30px;
    
}
/* About us - section */

#about{
    height: 650px;
    margin: 30px 0px;
}
#about .about-us h2{
   font-size: 40px;
}
#about .mainus{
    display: flex;
    flex-direction: column-reverse;
}

#about .mainus p{
   padding: 0px 2px;
   padding-top: 10px;
   display: block;
    margin: auto;
   width: 100%;
   height: auto;
   font-size: 16px; 
   font-weight: 0;   
}

#about .aboutbtn {
   font-size: 14px;
}

#about .img1 img{
   height: 180px;
   border-radius: 4px;
   display: block;
   width: 250px;
   margin:auto 
}

/* client section */
#client{
   display: flex;
   justify-content: center;
   /* border: 2px solid rgb(201, 26, 26); */
   height: 200px;
   margin: 40px 0px;
   position: relative;
   flex-direction: column;
}

#client h2{
   text-align: center;
   margin: 12px 23px;
   padding: 12px 23px;
   font-size: 50px;
   font-weight: 800;
   color: rgb(10, 94, 133);
}

#client .vj{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}


#image {
    width: 15%;
    height: 140px;
    border-radius: 14px;
    box-shadow: none;
}


.image img{
    width: 140%;
    height: 140% ;
}

/* contact section*/

#contact-box form{
   width: 90%;
}

#contact-box label{
   font-size: 24px;
   font-family: 'Bree Serif', serif;
}

#contact #btncon{
  font-size: 18px;
}
#contact-box label{
    font-size: 18px;
    font-family: 'Bree Serif', serif;
}
/* footer-section */

#footer{
    flex-direction: column;
  }
  
  
  #footer .footer{
      font-size: 14px;
      text-align: center;
  }
  
  #footer .dnavbar ul{
      display: flex;
      list-style: none;
      padding: 12px 7px;
  }
  
  #footer .dnavbar ul a{
  
  padding: 12px 10px;
  font-size: 14px;
  }
  
  
  #foot .vipul{
   float: right;
   font-size: 12px;
  }
  


